/* Global reset */

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

  /* IMPORTANT: remove Vite's default flex styling */
  display: block;

  overflow-x: hidden;
}

#root {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}